@import url(",/styles/header.css");


:root {
    --preto: #000000;
    --font-size:'Poppin','sans serif';
    --branco:#ffffff;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --laranja: #EB9B00;
}

body{
    background-color: var(--preto);
    color: #ffffff;
    font-size: var(--font-size);
}